body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden !important;
}

p {
  margin: 0;
}

/* NAVBAR */

.navbar-brand-centered {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.rounded-rectangle {
  background-color: white;
  border-radius: 20px; /* Adjust the radius as needed */
  padding: 5px 15px; /* Adjust padding as needed */
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center;
}

.navbar-text p {
  color: black;
}

/* START-GAME-BUTTON */
#startGameButton {
  position: absolute;
  top: 50%;
  right: 45%;
  z-index: 100;
}

/* LAYOUT */
.col {
  max-height: 80vh !important;
}

.col img {
  display: block;
  height: 25vh;
  margin: auto;
}

/* Mobile devices (less than 768px wide) */
@media (max-width: 767px) {
  .col img {
    height: 15vh;
  }
}

/* iPads and tablets (768px to 1024px wide) */
@media (min-width: 768px) and (max-width: 1024px) {
  .col img {
    height: 20vh;
  }
}

/* Laptops and larger screens (greater than 1024px wide) */
@media (min-width: 1025px) {
  .col img {
    height: 25vh;
  }
}

#game-container {
    height: 90%;
    width: 100%;
}

.images-container {
    height: 70%;
    width: 100%;
}

.answer-btn {
    margin-right: 30px;
}


.btn-container {
    z-index: 10000;
    position: fixed;
    bottom: 20px;
}

/* lIFE */
.heart-icon {
  font-size: 24px;
  color: #edb1f2;
}

.lost-life {
  text-decoration: line-through;
  color: gray;
}

/* TIMER */
.floating-div {
  position: fixed;
  bottom: 20px; /* Adjust the distance from the bottom as needed */
  right: 20px; /* Adjust the distance from the right as needed */
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  border-radius: 50%; /* Make it circular */
  width: 60px; /* Set the width (adjust as needed) */
  height: 60px; /* Set the height (adjust as needed) */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#timer {
  font-size: 24px;
}

/* USER FEEDBACK */
#feedback-container {
  font-size: 36px;
  height: 100%;
  width: 100%;
  z-index: 1000;
}

.tick-symbol {
  color: green;
  position: absolute;
  top: 50%;
  left: 48%;
}

.wrong-symbol {
  color: red;
  position: absolute;
  top: 50%;
  left: 50%;
}

/* GAME OVER */
.game-over {
  width: 80vw;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  z-index: 9999;
  text-align: center;
}
